.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.swipe {
  position: absolute;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  max-width: 20rem;
  height: 25rem;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 25rem;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 60vw;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 60vw;
  justify-content: center;
}

.approvedContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  height: 10rem;
}
.approvedChores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  height: 5rem;
}
.choresText {
  width: 60vw;
  justify-content: center;
  display: flex;
  color: #717171;
  height: 1rem;
  margin: 0.5rem;
  animation-name: popup;
  animation-duration: 800ms;
}
.buttonRemove {
  display: flex;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #da3737;
  transition: 200ms;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: bolder;
  width: 280px;
  height: 50px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: row;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 80px;
  height: 50px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

/* text animation*/
@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
