html {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  background: linear-gradient(to bottom, #8b5fad, #34495e);
  overflow: hidden;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
}
