html {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  background: linear-gradient(180deg, rgba(236, 236, 236, 1) 0%, rgb(230, 250, 255) 100%);

  overflow: hidden;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
}

.ant-btn-primary {
  background: linear-gradient(144deg, #ba89ff, #00ddeb 120%);
  color: #fff;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background: linear-gradient(144deg, #ba89ff, #00ddeb 120%);
  color: #fff;
}
